@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edf3f6;
    font-family: "poppins";

}

.icons {
    display: flex;
    gap: .7rem;
    font-size: 2rem;

}

.icon {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;

}