@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edf3f6;
    font-family: "poppins";

}