.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/src/Assets/imagemfundo2.jpg");
    background-size: cover;
    background-position: center;
}


.post_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 3rem 8rem;
    max-width: 100%;
    text-align: center;
}

.post_detail img {
    max-width: 400px;
    text-align: center;
    margin-top: 4rem;
    border-radius: 13px;

}

.post_detail h2 {
    margin-bottom: 0.4rem;
    color: #aaa;
}

.createdby {
    font-style: italic;
    color: #444;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #aaa;
}

/* CreatePost.module.css */

.conteudo {
    padding: 1.5rem;
    color: wheat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: 90%;
    max-width: 400px;
}

.conteudo:hover {
    transform: scale(1.02);
}




/* media queries */

@media screen and (max-width: 870px) {
    .post_detail img {
        max-width: 250px;
        text-align: center;
        margin-top: 2rem;
        border-radius: 13px;

    }

    .post_detail h2 {
        margin-bottom: 0.4rem;
        color: #aaa;
        font-size: 1.2rem;
    }

    .createdby {
        font-style: italic;
        color: #444;
        font-size: 0.6rem;
        margin-bottom: 1rem;
        color: #aaa;
    }

    .conteudo {
        padding: 1rem 3.8rem;
        color: wheat;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(41, 41, 41, 0.2);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
        width: 90%;
        max-width: 100px;
        margin: 0 auto;
        font-size: 0.7rem;
    }

}