@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "poppins";
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: .4s;
  font-size: 1rem;
  cursor: pointer;
  font-family: "poppins", sans-serif;
}

a:hover {
  color: #bbb;
}

/*  Css para formularios  */

form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label span {
  margin-bottom: .3rem;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .8rem 0;
  background-color: transparent;

}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
  border-radius: 20px;
}