.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/src/Assets/imagemfundo2.jpg");
    background-size: cover;
    background-position: center;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 4rem;
    color: white;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        color: white;
        text-shadow: 0 0 0 white;
        /* Branco */
    }

    50% {
        color: #ffcc00;
        /* Amarelo (ou qualquer outra cor que você prefira) */
        text-shadow: 0 0 10px #ffcc00;
        /* Sombra amarela (ou qualquer outra cor que você preferir) */
    }

    100% {
        color: white;
        text-shadow: 0 0 0 white;
        /* Branco */
    }
}