.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/src/Assets/imagemfundo2.jpg");
    background-size: cover;
    background-position: center;
}



.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dashboard h2 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
    color: white;
}

.dashboard p {
    color: #aaa;
    margin-bottom: 1rem;

}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5rem
}

.noposts a {
    padding: 10px 25px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 60%;
    padding: 10px;

}

.post_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 80%;
    padding: 10px;
}

.post_row p {
    margin-right: 2rem;
}





.botoes {
    display: flex;
    gap: 2rem;
    height: 45px;
}

.animaçao_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animaçao_quote {
    font-size: 1.0rem;
    color: #aaa;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0.6;
        transform: scale(1);
    }
}

.see_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.see_button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
    z-index: -1;
}

.see_button:hover {
    background-color: #1a1a1a;
    transform: translateY(-2px);
}

.see_button:hover:before {
    width: 200%;
    height: 200%;
}

.see_button:active {
    background-color: #333333;
    transform: translateY(0);
}

.see_button:active:before {
    width: 100%;
    height: 100%;
}

.delete_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff0000;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.delete_button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
    z-index: -1;
}

.delete_button:hover {
    background-color: #cc0000;
    transform: translateY(-2px);
}

.delete_button:hover:before {
    width: 200%;
    height: 200%;
}

.delete_button:active {
    background-color: #ff0000;
    transform: translateY(0);
}

.delete_button:active:before {
    width: 100%;
    height: 100%;
}



@media screen and (max-width: 575px) {
    .animaçao_quote {
        font-size: 0.6rem;
    }
}