.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/src/Assets/imagemfundo2.jpg");
    background-size: cover;
    background-position: center;
}



.criar_post {
    text-align: center;
}

.criar_post h2 {
    font-size: 2.2rem;
    color: white;
}

.criar_post p {
    color: #aaa;
    margin-bottom: 3rem;
}

.animaçao_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animaçao_quote {
    font-size: 1.0rem;
    color: #aaa;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0.6;
        transform: scale(1);
    }
}