.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/src/Assets/imagemfundo2.jpg");
    background-size: cover;
    background-position: center;
}



.criar_post {
    text-align: center;
}

.criar_post h2 {
    font-size: 2.2rem;
    color: white;
}

.criar_post p {
    color: #aaa;
    margin-bottom: 3rem;
}